/* app.scss */

.Signup {
  // height: 100vh;
  font-family: sans-serif;
  background-color: white;
}

.Signup-header {
  background-color: #f5f5f5;
  padding: 1rem 2rem;
}

.image-div {
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 100%;
  overflow: auto;
  padding: 2rem 0;
}

.form-check-input[type='checkbox'] {
  background-size: 16px;
  background-color: white;
  border-color: black;
  border-radius: 20px;
}

.form-check-input:checked[type='checkbox'] {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23000000' version='1.1' id='Capa_1' width='800px' height='800px' viewBox='0 0 352.62 352.62' xml:space='preserve' style='&%2310; fill: %23ed2e24;&%2310;'%3e%3cg%3e%3cpath d='M337.222,22.952c-15.912-8.568-33.66,7.956-44.064,17.748c-23.867,23.256-44.063,50.184-66.708,74.664 c-25.092,26.928-48.348,53.856-74.052,80.173c-14.688,14.688-30.6,30.6-40.392,48.96c-22.032-21.421-41.004-44.677-65.484-63.648 c-17.748-13.464-47.124-23.256-46.512,9.18c1.224,42.229,38.556,87.517,66.096,116.28c11.628,12.24,26.928,25.092,44.676,25.704 c21.42,1.224,43.452-24.48,56.304-38.556c22.645-24.48,41.005-52.021,61.812-77.112c26.928-33.048,54.468-65.485,80.784-99.145 C326.206,96.392,378.226,44.983,337.222,22.952z M26.937,187.581c-0.612,0-1.224,0-2.448,0.611 c-2.448-0.611-4.284-1.224-6.732-2.448l0,0C19.593,184.52,22.653,185.132,26.937,187.581z'/%3e%3c/g%3e%3c/svg%3e");
}

.nonImageDiv {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: end;
  align-items: end;
}

.backImage {
  position: absolute;
  // height: 100%;
}

.insideDiv {
  padding-left: 120px;
  padding-right: 120px;
  position: relative;
  z-index: 1;
}

.image-banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.electric {
  display: flex;
  justify-content: start;
  align-items: end;
  padding-bottom: 4px;
}

.signup-box {
  // width: 95%;
}

.radio-text {
  font-size: 13px;
}

.form-check-input:checked {
  background-color: transparent;
  border-color: black;
}
.form-check-input:checked[type='radio'] {
  --bs-form-check-bg-image: url(data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%272%27 fill=%27%23ed2e24%27/></svg>);
  background-size: 22px;
}

.form-check-input:focus {
  box-shadow: none;
}

body input:focus {
  outline: none !important;
}

.image-electric img {
  width: 80%;
  height: auto;
}

.siteText {
  position: absolute;
  top: -45px;
  left: 140px;
  color: white;
  font-weight: 900;
  font-family: cursive;
}

.welcome-text {
  text-align-last: left;
  color: #ed2e24;
  font-weight: 900;
}

.description-text {
  color: black;
  font-weight: 600;
}

.terms {
  color: black;
  font-size: 13px;
}

.start-button {
  margin-top: 40px;
  background: gray;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 20px;
  color: white;
  font-weight: 700;
}

.start-button-access {
  margin-top: 40px;
  margin-right: 4px;
  background: #ed2e24;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 20px;
  color: white;
  font-weight: 700;
}

.next-button-access {
  margin-top: 40px;
  margin-right: 4px;
  background: #ed2e24;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 20px;
  color: white;
  font-weight: 700;
}

.back-button {
  margin-top: 40px;
  margin-right: 4px;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 20px;
  color: #ed2e24;
  font-weight: 700;
  border-color: #ed2e24;
}

.start-button-access:hover {
  background: #ed2e24;
  box-shadow: 1px 1px 10px 0px #ed2e24;
}

.next-button-access:hover {
  background: #ed2e24;
  box-shadow: 1px 1px 10px 0px #ed2e24;
}

.back-button:hover {
  background: #ed2e24;
  color: white;
  box-shadow: 1px 1px 10px 0px #ed2e24;
}

.radioDiv {
  display: flex;
}

.radio {
  font-size: x-large;
  color: #ed2e24;
}

.pv-radio {
  font-size: 17px;
  border: solid;
  border-width: thin;
  margin-top: 5px;
  margin-right: 6px;
}

.thirdCol {
  background-color: white;
  padding-left: 0;
  padding-right: 0;
}

.logo {
  margin-right: 5px;
}

.stepper-div {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 40px;
}

.stepper-access {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  color: white;
  background: #ed2e24;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepper-line-access {
  flex: 1;
  height: 4px;
  background: #ed2e24;
  margin-top: 18px;
  margin-bottom: 32px;
}

.stepper {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  color: white;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepper-line {
  flex: 1;
  height: 4px;
  background: gray;
  margin-top: 18px;
  margin-bottom: 32px;
}

.input-step-one {
  width: 50%;
}

.input-step-one-element {
  width: 30%;
}

.inc-dec {
  width: 50px;
  height: 50px;
  border: solid;
  border-color: gray;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-width: thin;
  border-radius: 0;
}

.noBorder {
  border-left: none;
  border-right: none;
}

.fadedText {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
  opacity: 0.5;
  font-size: 13px;
}

.pv-div {
  display: flex;
  justify-content: space-around;
  border: solid;
  border-width: thin;
  width: 50%;
  height: 50px;
  align-items: center;
  border-color: gray;
  border-radius: 4px;
}

.tariff-div {
  display: flex;
  justify-content: space-between;
  border: solid;
  border-width: thin;
  border-color: gray;
  border-radius: 5px;
  height: 50px;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  width: 85%;
}

.time-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.type-text {
  width: 75%;
  font-size: 13px;
}

.hero h2,
.hero p {
  text-align: center;
  margin: 0.5rem 0;
}

.App-footer {
  background-color: #f0f0f0;
  padding: 1rem;
  text-align: center;
}

@media (min-width: 1400px) {
  .signup-box {
    // width: 1200px;
  }
}

@media (max-width: 767.2px) {
  .electric {
    position: absolute;
    left: auto;
    right: 0px;
    width: auto;
    top: -100px;
    bottom: auto;
    display: block;
  }

  .image-electric img {
    height: auto;
    width: 65%;
    margin-left: auto;
  }

  .image-banner {
    height: 180px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
